.cms-block-typesense-listing {
    overflow: initial;
}

.cms-element-typesense-listing {
    .ais-Hits-list {
        @extend .d-grid;
        @extend .gap-3;
        grid-template-columns: 1fr;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}


// Range slider
.ais-RangeSlider .rheostat {
    overflow: visible;
    margin-top: 40px;
    margin-bottom: 40px
}

.ais-RangeSlider .rheostat-background {
    height: 6px;
    top: 0;
    width: 100%
}

.ais-RangeSlider .rheostat-handle {
    margin-left: -12px;
    top: -7px
}

.ais-RangeSlider .rheostat-background {
    position: relative;
    background-color: #fff;
    border: 1px solid #aaa
}

.ais-RangeSlider .rheostat-progress {
    position: absolute;
    top: 1px;
    height: 4px;
    background-color: $primary
}

.rheostat-handle {
    position: relative;
    z-index: 1;
    width: 17px;
    height: 17px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 50%;
    cursor: -webkit-grab;
    cursor: grab
}

.rheostat-marker {
    margin-left: -1px;
    position: absolute;
    width: 1px;
    height: 5px;
    background-color: #aaa
}

.rheostat-marker--large {
    height: 9px
}

.rheostat-value {
    padding-top: 15px
}

.rheostat-tooltip, .rheostat-value {
    margin-left: 50%;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.rheostat-tooltip {
    top: -22px
}

// Rating icon
.ais-RatingMenu-starIcon {
    position: relative;
    top: -1px;
    width: 15px;
    fill: #ffc168
}

.marker-highlight {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent linear-gradient(
            to right,
            rgba(255, 225, 0, 0.1),
            rgba(255, 225, 0, 0.7) 4%,
            rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
