{% set config = element.fieldConfig.elements %}

{% set typesenseOptions = {

} %}
<div class="cms-element-{{ element.type }}" data-typesense-listing data-typesense-lising-options="{{ typesenseOptions|json_encode }}">
    TYPESENSE LISTING
</div>
